
.header{
    background: var(--Amarillo);
    position: relative;
}

.header .nav-logo{padding: 15px 15px 0px 15px;width: 30%;}
.header .nav-logo .logo{
    width: 50%;
    margin-top: 10px;
}
.header .busqueda{
    width: 35%;
    display: inline-block;
    position: absolute;
    top: 20px;
}

.header .busqueda .barra{border-radius: 5px 0px 0px 5px;border: 0px;padding: 5px;width: 70%;}

.header .busqueda .lupa{
    color: var(--GrisOscuro);
    border-radius: 0px 5px 5px 0px;
    display: inline-block;
    position: absolute;
    border: 0px;
    height: 25px;
    margin: 0px;
    padding: 5px;
}

.header p{

font-family: var(--fuente);

font-size: var(--cuerpos);

text-align: center;

margin: 10px 0px 25px;
}
.header .burger-menu{
    
text-align: center;
}

.header .burger-menu .menu{

padding: 10px;

background-color: var(--Celeste);

color: white;

display: inline-block;

border-radius: 5px;

margin-bottom: 20px;
}

a.menu {}
.header .lista-1{
    padding: 0px;
    display: none;
}
.header .lista-1 .text-redirec{
    text-decoration: none;
    color: black;
    font-family: var(--fuente);
    font-size: var(--cuerpos);
}

.header .lista-2{
    padding: 0px;
    margin: 20px auto;
    display: none;
}
.header .lista-2 .text-redirec{
    text-decoration: none;
    color: black;
    font-family: var(--fuente);
    font-size: var(--cuerpos);
}

.header .cuadro-banner{
}

.header .cuadro-banner .banner{
    width: 100%;
    height: 100%;
    display: block;
}

.cuadro-banner .nav-banner{}

@media (min-width: 361px){
    .header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header .nav-logo .logo{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
    .header .logo{width: 30%;}
    .header .busqueda{
    position: unset;
    box-sizing: border-box;
    height: 25px;
    margin-top: 30px;
    width: 32%;
}
    .header .busqueda .barra{
    box-sizing: border-box;
    width: 90%;
}
    .header .busqueda .lupa{}
    .header p{
    position: unset;
    margin-top: 35px;
    margin-left: 15px;
}
    .header .burger-menu .menu{
    display: none;
}
    a.menu {}
    .header .lista-1{
    display: flex;
    box-sizing: border-box;
    align-items: flex-end;
    margin: 20px;
}
    .header .lista-1 .l1{
    display: inline-block;
    margin-left: 10px;
}
    .header .lista-1 .text-redirec{display: inline-block;}
    .header .lista-2{display: flex;text-align: right;margin-right: 10px;justify-content: flex-end;box-sizing: border-box;width: 285px;align-items: flex-end;}
    .header .lista-2 .l2{
    display: inline-block;
    margin-right: 10px;
}
    .header .lista-2 .text-redirec{
}
    .header .cuadro-banner{}
    .header .cuadro-banner .banner{}
}

@media (min-width: 769px){
    .header{
    display: flex;
    justify-content: space-between;
}
    .header .logo{
    padding: 15px 15px 0px 15px;
}
    .header .busqueda{
    margin-top: 45px;
    width: 40%;
}
    .header .busqueda .barra{
    padding: 10px;
}
    .header .busqueda .lupa{
    padding: 10px;
    height: 36px;
}
    .header p{margin-top: 55px;height: 20px;margin-right: 20px;}
    .header .burger-menu .menu{}
    a.menu {}
    .header .lista-1{
    margin-top: 40px;
}
    .header .lista-1 .l1{}
    .header .lista-1 .text-redirec{}
    .header .lista-2{}
    .header .lista-2 .text-redirec{}
    .header .cuadro-banner{
    width: 100%;
}
    .header .cuadro-banner .banner{
    width: 100%;
    height: 200px;
}
}