
.main-home{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.main-home .seccion{
    width: 90%;
}

.main-home .titulo-ultima-visita{
    font-size: var(--titulares);
    font-family: var(--fuente);
    color: var(--GrisOscuro);
    margin: 15px 0px;
}

.main-home .contenedor{
    background-color: #FFF;
    margin-bottom: 10px;
}



.contenedor .cuadro-imagen{position: relative;}

.cuadro-imagen .imagen{width: 100%;margin-top: 20px;border-bottom: 1px solid var(--GrisClaro);display: block;}
.contenedor .cuadro-imagen .circulo{
    font-size: 35px;
    color: var(--Verde);
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: -15px;
}
.main-home .auto{
    font-size: 15px;
    border: 1px solid;
    padding: 6px 5px 5px 6px;
    border-radius: 30px;
    background-color: white;
    display: inline-block;
}
.main-home .precio{
    font-family: var(--fuente);
    font-size: var(--precios);
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 0px;
}
.main-home .descuento{
    font-family: var(--fuente);
    font-size: var(--descuentos);
    display: inline-block;
    margin: 20px 10px 0px;
    color: var(--Verde);
}
.main-home .producto{
    font-family: var(--fuente);
    margin: 15px;
    color: var(--GrisOscuro);
    padding-bottom: 15px;
}
.main-home .ofertas{
    font-family: var(--fuente);
    font-size: var(--titulares);
    color: var(--GrisOscuro);
    margin: 5px 0px 15px;
}

.contenedor .redirec{
    text-decoration: none;
}

.contenedor .redirec .precio{color: black;}


@media (min-width: 361px){
.main-home{
}
.main-home .seccion{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-home .contenedor{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 45%;
    display: block;
}
.main-home .titulo-ultima-visita{
    display: inline-block;
    width: 100%;
}
.contenedor .cuadro-imagen{
}
.cuadro-imagen .imagen{}
.contenedor .cuadro-imagen .circulo{}
.main-home .auto{}
.main-home .precio{
    width: 30%;
}
.main-home .descuento{}
.main-home .producto{
}
.main-home .ofertas{width: 100%;}
}

@media (min-width: 769px){
.main-home{}
.main-home .seccion{
    width: 90%;
}
.main-home .contenedor{
    width: 22%;
}
.main-home .titulo-ultima-visita{}
.contenedor .cuadro-imagen{}
.cuadro-imagen .imagen{
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid var(--GrisClaro);
    display: block;
}
.contenedor .cuadro-imagen .circulo{
}
.main-home .auto{
    font-size: 10px;
}
.main-home .precio{
}
.main-home .descuento{}
.main-home .producto{}
.main-home .ofertas{}


/* llllll */

.contenedor .redirec{
    text-decoration: none;
}

.contenedor .redirec .precio{color: black;}

}